:root {
  --font-rosario: "Rosario", sans-serif;
  --font-volkhov: "Volkhov", serif;
  --t-white: #fffcfc;
  --t-white2: #fffafa;
  --t-black: #000000;
  --color-brown: rgba(163, 83, 10, 0.7);
  --color-grey: #e5e5e5;
  --color-grey2: rgba(0, 0, 0, 0.5);
}

ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
input,
textarea {
  outline: none;
  border: none;
  resize: none;
}
.screen,
.screen2,
.screen3,
.screen4 {
  min-height: 100vh;
  width: 100%;
}
/* --------------Header--------- */
.header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100%;

  background-color: var(--t-black);
  color: var(--t-white);

  position: fixed;
  top: 0;
  z-index: 5;
}
img.logo {
  width: 100%;
  height: 10vh;
}
.head-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 65%;
}
.head-list a {
  font-family: var(--font-rosario);
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
  color: var(--t-white);
  padding: 5px;
  box-sizing: border-box;

  transition: all 200ms linear;
}
.head-list a:hover {
  color: var(--color-brown);
}
/* -------First screen style without header------- */

.gallery {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 13vh;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 5vh;
  box-sizing: border-box;
  overflow: hidden;
}
.left {
  width: 23%;
  padding-right: 20px;
  box-sizing: border-box;

  animation: fromLeft 2s ease-out;
  transition: all 2s ease-out;
}
img.img-el {
  width: 100%;
}
.center-left,
.center-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 80vh;
  width: 25%;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;

  transition: all 1s ease-out;
}
.center-left {
  animation: toCenter1 1s ease-out;
}
.center-right {
  animation: toCenter2 1s ease-out;
}
.right {
  width: 23%;
  padding-left: 20px;
  box-sizing: border-box;

  animation: fromRight 2s ease-out;
  transition: all 2s ease-out;
}

/* -----------Gallery Animation------------ */
@keyframes toCenter1 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes toCenter2 {
  0% {
    transform: translateX(+200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fromLeft {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fromRight {
  0% {
    transform: translateX(+100%);
  }
  50% {
    transform: translateX(+100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* --------------Second screen--------- */
.screen2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-box {
  width: 60%;
  height: 100%;
  padding-top: 12vh;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 6.5vh;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;

  animation: roundReverse 10s infinite;
  transition: all 5s linear;

  /* overflow: hidden; прибрала бо обрізає при обертанні круглих картинок*/
}

.serv-element {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5px;
  box-sizing: border-box;

  animation: round 10s infinite;
  transition: all 5s linear;
}

.serv-element__img {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img.img-serv {
  width: 100%;
}
.title {
  font-family: var(--font-rosario);
  font-weight: 700;
  font-style: italic;
  font-size: 35px;
}
.serv-background {
  width: 45%;
  height: 100vh;
  display: flex;
  justify-content: end;
}
img.serv-photo {
  width: 100%;
  display: inline-block;
}
/* -----------------Services Animation------------ */
@keyframes round {
  0 {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes roundReverse {
  0 {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/* -----------------Third screen------------ */
.screen3 {
  padding-top: 12vh;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 2vh;
  box-sizing: border-box;
}
.team-title {
  text-align: center;
  font-size: 96px;
  font-weight: 700;
  color: var(--t-black);
  font-family: var(--font-rosario);
  padding: 20px;
  box-sizing: border-box;
}
.team-box {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 400ms linear;
}

.team-container {
  width: 21%;
  position: relative;
  transition: all 400ms linear;
}
img.team__img {
  width: 100%;
}
.team-box:hover .team-container {
  filter: brightness(40%);
}
.team-box .team-container:hover {
  filter: none;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  z-index: 10;

  width: 100%;
  height: 155px;
  background-color: var(--color-brown);
  opacity: 0;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 2px;
  box-sizing: border-box;

  color: var(--t-white2);
  font-family: var(--font-volkhov);
  font-size: 48px;
  font-weight: 400;

  transition: all 200ms linear;
}
.team-container:hover .name {
  opacity: 1;
}
/* -----------------Fourth screen------------ */
.screen4 {
  padding-top: 15vh;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 2vh;
  box-sizing: border-box;
}
.contact-box {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 80px;
}
.contact-box2 {
  width: 58%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-title {
  font-family: var(--font-rosario);
  font-size: 64px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  color: var(--t-black);
  padding: 10px;
  box-sizing: border-box;
}
/* -------------- Form & Map------------- */
.form {
  width: 100%;
  background-color: var(--color-grey);
  padding: 15px 20px;
  box-sizing: border-box;
}
.form1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.input-name,
.input-email,
.input-message {
  font-family: var(--font-rosario);
  font-weight: 700;
  font-size: 34px;
  padding: 8px;
  box-sizing: border-box;
}
.input-name,
.input-email {
  width: 48%;
}
.input-message {
  width: 100%;
  height: 20vh;
  padding-bottom: 8px;
  box-sizing: border-box;
}
.map-box {
  width: 40%;
  height: 50vh;
  border: 1px solid red;
  box-sizing: border-box;
  overflow: hidden;
}
.map {
  width: 100%;
  height: 100%;
}
/* -------------- Footer------------- */
.footer {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-rosario);
  font-size: 30px;
  text-align: center;
  color: var(--t-black);
  font-style: italic;
  font-weight: 600;
}
.footer a {
  color: var(--t-black);
}
.footer-box:first-child,
.footer-box:nth-child(2) {
  width: 40%;
}
.footer-box:nth-child(3) {
  width: 20%;
}
.footer-box2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-box:nth-child(3) li {
  text-align: start;
}
.bold {
  font-weight: 700;
}
.footer-subtitle1 {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.footer-connect-icon {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
